html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

@media all and (max-width: 480px) {
  .width-based-device {
    width: 100%;
    display: block;
  }
}

@media all and (min-width: 480px) {
  .width-based-device {
    width: 30vw !important;
    display: flex !important;
    align-self: center !important;
  }
}

.scrollingContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
  /* margin-bottom: 10; */
}

.scrollingContainer div {
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0px 10px 0px;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  border-style: solid;
  border-color: #ddd;
  border: 0 1px 0 0;
  border-width: 1px;
}

.boxRowSpaceAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.boxColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.marginTop15 {
  margin-top: 15px;
}

.marginRight15 {
  margin-right: 15px;
}

.boxGridTwoColumns {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  padding: 5;
  width: 100%;
}

.my-swal {
  z-index: 9999999999 !important;
}
